
body{
    font-family: 'Montserrat', sans-serif;
}

header{
    padding: 60px 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.1s;
}
.caja{
    width: 940px;
    margin: 0 auto;
}

header.abajo{
    background: white;
    padding: 60px;

}

.logo{
    width: 250px;
    position: absolute;
    right: 85%;
    top: 20%;
}

nav{
    display: flex;
    position: relative;
    top: 30px;
    left: 400px;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none ;
}

nav a:hover{
    color: cadetblue;
    text-decoration: underline;
}


.principal{
    padding: 3em 0;
    background:aquamarine;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;

}

.principal p{
    margin: 0 0 1em;

}
.principal em{
    font-style: italic;
}


.container_card{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card{
    width: 300px;
    margin: 10px;
    transition: all 300ms;

}

.card:hover{
    width: 350px;

}

.card .cover{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}


.card .cover img{
    width: 250px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgb(0,0,0,0.5));
    transition: all 400ms;
}

.card:hover .cover img{
    top: 8px;
    filter: none;

}

.card .img_back{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}



.card:nth-of-type(1) .img_back{
    background-image: url(../Proyecto-Berners-Lee/imagenes/bannerverde.png);

}
.card:nth-of-type(2) .img_back{
    background-image: url(../Proyecto-Berners-Lee/imagenes/bannerverde.png);
    
}
.card:nth-of-type(3) .img_back{
    background-image: url(../Proyecto-Berners-Lee/imagenes/bannerverde.png);
    
}

.card:hover .img_back{
    bottom: -40px;
}

.card .description{
    background: white;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;

}

.card:hover{
    padding: 40px;
}

.card .description h4{
    margin-top: 10px;
    
}

.card .description p{
    margin-top: 10px;
    
}

.card .description input{
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: aqua;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
}

.card .description input:hover{
    background:  cadetblue;
}




.mapa{
    padding: 3em 0;
    background: linear-gradient(aquamarine,cadetblue);

}

.mapa p{
    margin: 0 0 2em ;
    text-align: center;
}

.mapa-contenido{
    width: 940px;
    margin: 0 auto;
}

.diferenciales{
    padding: 3em 0;
    background-color:aquamarine;
}

.contenido-diferenciales{
    width: 640px;
    margin: 0 auto;
}

.lista-diferenciales{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.items{
    line-height: 1.5;
    font-weight: bold;
}

.imagen-diferenciales{
    width: 40%;
    transition: 400ms;
    box-shadow: 10px 10px 40px 10px #00e0fe;

}

footer{
    text-align: center;
    background-color: white;
    padding: 40px;
}

.logofooter{
    width: 100px;
}

.copyright{
    color: black;
    font-size: 13px;
    margin: 20px;
}