
body{
    font-family: 'Montserrat', sans-serif;
}

header{
    padding: 60px 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.1s;
}
.caja{
    width: 940px;
    margin: 0 auto;
}

header.abajo{
    background: white;
    padding: 60px;

}

.logo{
    width: 250px;
    position: absolute;
    right: 85%;
    top: 20%;
}

nav{
    display: flex;
    position: relative;
    top: 30px;
    left: 400px;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none ;
}

nav a:hover{
    color: cadetblue;
    text-decoration: underline;
}


.principal{
    padding: 3em 0;
    background:aquamarine;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;

}

.principal p{
    margin: 0 0 1em;

}
.principal em{
    font-style: italic;
}

.mapa{
    padding: 3em 0;
    background: linear-gradient(aquamarine,cadetblue);

}

.mapa p{
    margin: 0 0 2em ;
    text-align: center;
}

.mapa-contenido{
    width: 940px;
    margin: 0 auto;
}

.diferenciales{
    padding: 3em 0;
    background-color:aquamarine;
}

.contenido-diferenciales{
    width: 640px;
    margin: 0 auto;
}

.lista-diferenciales{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.items{
    line-height: 1.5;
    font-weight: bold;
}

.imagen-diferenciales{
    width: 40%;
    transition: 400ms;
    box-shadow: 10px 10px 40px 10px #00e0fe;

}

footer{
    text-align: center;
    background-color: white;
    padding: 40px;
}

.logofooter{
    width: 100px;
}

.copyright{
    color: black;
    font-size: 13px;
    margin: 20px;
}